CLAIRE_ARE_ROOT=/data/claire_are
CLAIRE_ARE_HMAC_KEY=change-this-local-development-key
CLAIRE_ARE_MAX_SEGMENT_RECORDS=1000
CLAIRE_ARE_RECALL_SCAN_LIMIT=500
CLAIRE_CORE_ENABLED=false
CLAIRE_CORE_SHADOW_MODE=true
CLAIRE_CORE_CONTINUITY_ENABLED=true
CLAIRE_CORE_TEMPORAL_ENABLED=true
CLAIRE_CORE_COGNITIVE_ENABLED=true
CLAIRE_CORE_PROVENANCE_ENABLED=true
CLAIRE_CORE_GOVERNANCE_ENABLED=true
CLAIRE_CORE_DATA_DIR=./data/claire_core
